<p>
    {{events.length}} results!
</p>

<div class="row" *ngFor="let e of events">
    <div class="col">
        <div class="card">
            <img class="card-img-top" [src]="e.picture" alt="Card image cap" *ngIf="e.picture">
            <div class="card-body">
                <h5 class="card-title">{{e.name}}</h5>
                <p class="card-text">{{e.description}}</p>
                <a routerLink="/event/{{e.id}}" class="btn btn-primary">Details</a>
                <button class="btn btn-success" (click)="addToCart(e)">Add to cart</button>
            </div>
            <div class="card-footer text-muted">
                <span>{{e.availablePlaces}} places available</span>
            </div>
        </div>
    </div>
</div>
