<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-event-order-heading">Create or edit a Event Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!eventOrder.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="eventOrder.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalPrice">Total Price</label>
                    <input type="number" class="form-control" name="totalPrice" id="field_totalPrice"
                        [(ngModel)]="eventOrder.totalPrice" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createAt">Create At</label>
                    <div class="input-group">
                        <input id="field_createAt" type="text" class="form-control" name="createAt" ngbDatepicker  #createAtDp="ngbDatepicker" [(ngModel)]="eventOrder.createAt"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="createAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stateEventOrder">State Event Order</label>
                    <select class="form-control" name="stateEventOrder" [(ngModel)]="eventOrder.stateEventOrder" id="field_stateEventOrder" >
                        <option value="CONFIRMED">CONFIRMED</option>
                        <option value="CANCELLED">CANCELLED</option>
                        <option value="INPROGRESS">INPROGRESS</option>
                        <option value="WAITING">WAITING</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
