<ng-container *ngFor="let c of categoryArray; let i = index">
    <hr *ngIf="i > 0">

    <div class="row">
        <div class="col-12 mb-1">
            <h4>{{c.name}}</h4>
        </div>

        <div class="col-12 col-sm-6 col-md-3 col-lg-2 mb-3" *ngFor="let e of eventsArray(c.id)">
            <jhi-event [event]="e"></jhi-event>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a routerLink="/view-category/{{c.id}}" class="text-dark">Show more</a>
        </div>
    </div>
</ng-container>
