<div *ngIf="products.length > 0; else noProducts">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
            <td>{{p.item.name}}</td>
            <td>{{p.item.dateEvent | amDateFormat: 'LL'}}</td>
            <td>{{p.item.price}} €</td>
            <td><input type="number" min="1" [max]="p.item.availablePlaces" step="1" class="form-control" id="number-{{p.item.id}}" name="number-{{p.item.id}}" [(ngModel)]="p.number"></td>
            <td><button class="btn btn-danger" (click)="removeProduct(p)"><fa-icon [icon]="faTimes"></fa-icon></button></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <div class="row">
        <div class="col">
            <h4>Total price: {{total}}€</h4>

            <ng-container [ngSwitch]="isAuthenticated()">
                <div *ngSwitchCase="false">
                    <button class="btn btn-primary btn-block" (click)="login()">Login</button>
                </div>
                <div *ngSwitchCase="true" id="payments">
                    <button class="btn btn-success" (click)="enterPaymentInfo(paymentInfo)"><fa-icon [icon]="faCreditCard"></fa-icon> Pay by Credit Card</button>
                    <span class="mx-2">— OR —</span>
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noProducts>
    <div class="row">
        <div class="col text-center">
            <h3>Your cart is empty! Please add an event and come back!</h3>
        </div>
    </div>
</ng-template>

<ng-template #paymentInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Payment by Credit Card</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class = "modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber" placeholder="Enter the 16 numbers of your credit card">
                </div>
                <div class="form-group col-md-2">
                    <label for="expiryDay">Expiry Day</label>
                    <select id="expiryDay" class="form-control">
                        <option *ngFor="let t of generateDay()">{{t}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="expiryMonth">Expiry Month</label>
                    <select id="expiryMonth" class="form-control">
                        <option *ngFor="let i of generateMonth()">{{i}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="crypto">Crypto</label>
                    <input type="text" class="form-control" id="crypto" placeholder="XXX">
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block" (click)="payOrderCC(modal)">Pay</button>
        </form>
    </div>
</ng-template>
