<ng-container *ngIf="event">
    <div class="row">
        <div class="col">
            <h1>
                [{{event.id}}] {{event.name}}
            </h1>
            <div class="text-muted">
                <span
                    class="badge"
                    [ngClass]="{'AVAILABLE':'badge-success','UNAVAILABLE':'badge-danger'}[event.stateEvent]"
                >
                    {{event.stateEvent}}
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <img [src]="event.picture" alt="Event image cap">
            <p>{{event.description}}</p>
        </div>
        <div class="col-9">
            <div>Located in {{event.placeEvent}}</div>
            <div>{{event.price}}€</div>
            <button class="btn btn-success" (click)="addToCart(event)">Add to cart</button>
        </div>
    </div>
</ng-container>
